/* blue scale*/
$blue5:#fcfcfe;
$blue8:#eef2fa;
$blue10:#ebf1fd;
$blue20:#c4d7fb;
$blue30:#9DBCF8;
$blue40:#76A2F6;
$blue50:#5087F3;
$blue60:#296DF1;
$blue70:#225AC7;
$blue80:#1C479A;
$blue90:#13326E;
$blue100:#0C1E42;


/* red scale */
$red5:#FEF8F9;
$red10:#FCE8EB;
$red20:#F6BBC5;
$red30:#F18C9E;
$red40:#EA5E78;
$red50:#E53051;
$red60:#DF032B;
$red70:#B80224;
$red80:#8E031C;
$red90:#660014;
$red100:#3E010B;



/* yellow scale */
$yellow5:#FFFCF7;
$yellow10:#FFF7E7;
$yellow20:#FFE9BA;
$yellow30:#FFD88B;
$yellow40:#FFCA5C;
$yellow50:#FFBA2F;
$yellow60:#FFAB02;
$yellow70:#D18D00;
$yellow80:#A36D00;
$yellow90:#754E01;
$yellow100:#462F00;

// green scale
$green5:#FAFCF8;
$green10:#EFF8E9;
$green20:#CFEABB;
$green30:#AFDC8C;
$green40:#8FCE5E;
$green50:#70C030;
$green60:#4FB305;
$green70:#409302;
$green80:#337202;
$green90:#245201;
$green100:#153101;


// gray scale
$gray5:#FAFAFA;
$gray10:#F2F2F2;
$gray20:#EAEAEA;
$gray30:#DEDEDE;
$gray40:#C8C8C8;
$gray50:#A6A6A6;
$gray60:#8A8A8A;
$gray70:#737373;
$gray80:#505050;
$gray90:#323232;
$gray100:#191919;