@keyframes #{$rt-namespace}__trackProgress {
  0%{
    transform: scaleX(1);
  }
  100%{
    transform: scaleX(0);
  }
}

.#{$rt-namespace}__progress-bar {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 5px;
  z-index: $rt-z-index;
  opacity: 0.7;
  animation: #{$rt-namespace}__trackProgress linear 1 forwards;
  background-color: rgba(255,255,255,.7);
  transform-origin: left;

  &--rtl {
    right: 0;
    left: initial;
    transform-origin: right;
  }
  &--default{
    background: $rt-color-progress-default;
  }

  &--info{}
  &--success{}
  &--warning{}
  &--error{}
}
