.#{$rt-namespace}__toast {
    min-height: $rt-toast-min-height;
    max-height: $rt-toast-max-height;
    padding: $rt-toast-top-bottom-padding $rt-toast-left-right-padding;
    border-radius: $rt-toast-border-radius;
    font-family: $rt-font-family;
    font-size: $rt-font-size;
    line-height: $rt-line-height;

    position: relative;
    box-sizing: border-box;
    margin-bottom: 1rem;
    box-shadow: 0 1px 10px 0 rgba(0, 0, 0, .1), 0 2px 15px 0 rgba(0, 0, 0, .05);
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    cursor: pointer;
    direction: ltr;
    &--rtl {
        direction: rtl;
    }
    &--dark {
        background: $rt-color-dark;
        color: $rt-text-color-dark;
    }
    &--default {
        background: $rt-color-default;
        color: $rt-text-color-default;
    }
    &--info {
        background: $rt-color-info;
        color: $rt-text-color-info;
    }
    &--success {
        background: $rt-color-success;
        color: $rt-text-color-success;
    }
    &--warning {
        background: $rt-color-warning;
        color: $rt-text-color-warning;
    }
    &--error {
        background: $rt-color-error;
        color: $rt-text-color-error;
    }
    &-body {
        margin: auto 0;
        flex: 1 1 auto;
    }
}

@media #{$rt-mobile} {
  .#{$rt-namespace}__toast{
    margin-bottom: 0;  
  }
}
