
.toastify-content {
  position: relative;
  min-height: 48px;
  margin-bottom: 1rem;
  padding: 8px;
  border-radius: 1px;
  box-shadow: 0 1px 10px 0 rgba(0, 0, 0, .1), 0 2px 15px 0 rgba(0, 0, 0, .05);
  display: flex;
  justify-content: space-between;
  max-height: 800px;
  overflow: hidden;
  font-family: sans-serif;
  cursor: pointer;
  &--default {
    background: $color-default;
    color: #aaa;
  }
  &--info {
    background: $color-info;
  }
  &--success {
    background: $color-success;
  }
  &--warning {
    background: $color-warning;
  }
  &--error {
    background: $color-error;
  }
}

.toastify__body {
  margin: auto 0;
  flex: 1;
}

@media #{$smartphone-portrait} {
  .toastify-content{
    margin-bottom: 0;  
  }
}