
.toastify {
  z-index: 999;
  position: fixed;
  padding: 4px;
  width: $toastWidth;
  max-width: 98%;
  color: #999;
  box-sizing: border-box;
  &--top-left {
    top: 1em;
    left: 1em;
  }
  &--top-center {
    top: 1em;
    left: 50%;
    margin-left: -($toastWidth / 2);
  }
  &--top-right {
    top: 1em;
    right: 1em;
  }

  &--bottom-left {
    bottom: 1em;
    left: 1em;
  }
  &--bottom-center {
    bottom: 1em;
    left: 50%;
    margin-left: -($toastWidth / 2);
  }
  &--bottom-right {
    bottom: 1em;
    right: 1em;
  }
  .img {
    width: 48px;
    height: 48px;
  }

  &__img {
    float: left;
    margin-right: 8px;
    vertical-align: middle;
  }
  &__close{
    position: absolute;
    top: 4px;
    right: 4px;
    width: 16px;
    height: 16px;
    padding: 0;
    text-align: center;
    text-decoration: none;
    color: #aaa;
    font-weight: bold;
    font-size: 16px;
    background: transparent;
    outline: none;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    opacity: .5;
    transition: .3s ease;
    &:hover, &:focus {
      opacity: 1;
      color: #999;
      background: #eee;
    }
  }

  &__title {
    margin: 0 0 4px 0;
    padding: 0;
    font-size: 18px;
    font-weight: normal;
  }
  &__body {
    font-size: 13px;
  }
}