@keyframes track-progress {
  0%{
    width: 100%;
  }
  100%{
    width: 0;
  }
}

.toastify__progress {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 5px;
  z-index: 999;
  opacity: 0.7;
  animation: track-progress linear 1;
  background-color: rgba(255,255,255,.7);
  &--default{
    background: $color-progress-default;
  }
  &--info{}
  &--success{}
  &--warning{}
  &--error{}
}
