$notiWidth: 350px;
$notiBackground: #ffffff;

.toastify {
  z-index: 999;
  position: fixed;
  padding: 4px;
  width: $notiWidth;
  max-width: 98%;
  color: #999;
  box-sizing: border-box;
  &--top-left {
    top: 1em;
    left: 1em;
  }
  &--top-center {
    top: 1em;
    left: 50%;
    margin-left: -($notiWidth / 2)px;
  }
  &--top-right {
    top: 1em;
    right: 1em;
  }

  &--bottom-left {
    bottom: 1em;
    left: 1em;
  }
  &--bottom-center {
    bottom: 1em;
    left: 50%;
    margin-left: -($notiWidth / 2)px;
  }
  &--bottom-right {
    bottom: 1em;
    right: 1em;
  }
  .img {
    width: 48px;
    height: 48px;
  }

  &__img {
    float: left;
    margin-right: 8px;
    vertical-align: middle;
  }
  &__close{
    position: absolute;
    top: 4px;
    right: 4px;
    width: 16px;
    height: 16px;
    padding: 0;
    text-align: center;
    text-decoration: none;
    color: #aaa;
    font-weight: bold;
    font-size: 16px;
    background: transparent;
    outline: none;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    opacity: .5;
    transition: .3s ease;
    &:hover, &:focus {
      opacity: 1;
      color: #999;
      background: #eee;
    }
  }

  &__title {
    margin: 0 0 4px 0;
    padding: 0;
    font-size: 18px;
    font-weight: normal;
  }
  &__body {
    font-size: 13px;
  }
}

.toastify-content {
  position: relative;
  width: 100%;
  min-height: 62px;
  margin-bottom: 12px;
  padding: 8px;
  background: $notiBackground;
  border-left: 8px solid #95a5a6;
  border-radius: 1px;
  box-shadow: 0 1px 10px 0 rgba(0, 0, 0, .1), 0 2px 15px 0 rgba(0, 0, 0, .05);

  &--default {
    border-left-color: $notiBackground;
  }
  &--info {
    border-left-color: #3498db;
  }
  &--success {
    border-left-color: #07bc0c;
  }
  &--warning {
    border-left-color: #f1c40f;
  }
  &--error {
    border-left-color: #e74c3c;
  }
}

/*!
 * animate.css -http://daneden.me/animate
 * Version - 3.5.1
 * Licensed under the MIT license - http://opensource.org/licenses/MIT
 *
 * Copyright (c) 2016 Daniel Eden
 */

.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}
@keyframes bounceInLeft {
  from, 60%, 75%, 90%, to {
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    transform: translate3d(-3000px, 0, 0);
  }

  60% {
    opacity: 1;
    transform: translate3d(25px, 0, 0);
  }

  75% {
    transform: translate3d(-10px, 0, 0);
  }

  90% {
    transform: translate3d(5px, 0, 0);
  }

  to {
    transform: none;
  }
}